.margin_t10px {
  margin-top: 10px !important;
}

.margin_t40px {
  margin-top: 40px !important;
}

.margin_t50px {
  margin-top: 50px !important;
}

.text_align_right {
  text-align: right !important;
}
