.standing_conference_name {
  margin: 30px auto 10px !important;
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
}

.standing_division_name {
  margin: 30px auto 10px !important;
  font-weight: bold;
  text-decoration: underline;
}

.basic_table_for_team_data {
  & div{
    width: 80%;
    overflow-x: auto;
    margin: 0 auto;
    position: relative;

    & table {
      width: 90% !important;
      box-sizing: border-box;
      border-collapse: collapse;
      border-spacing: 0;

      & th:first-of-type, & td:first-of-type {
        position: sticky;
        left: 0;
        background-color: #fff;
        z-index: 10;
        border-left: none;
        border-right: none;
      }

      & th:nth-of-type(2), & td:nth-of-type(2) {
        border-left: none;
      }

      & th:last-of-type, & td:last-of-type {
        border-right: none;
      }

      & th:first-of-type::before,
      & td:first-of-type::before {
        content : "" ;
        position : absolute ;
        top : 0 ;
        left : 0 ;
        width : 100% ;
        height : 100% ;
        border-right : 1px solid #dee2e6;
      }
    }
  }
}



